{# templates/admin/room_availability/availability_day_edit.html.twig #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title 'Category - Room Availability - Edit' %}
{% block main %}
<div>
    <h3>{{categoryId}}</h3>
</div>
{{ form(form) }}
{% endblock %}