{# templates/admin/room_availability/index.html.twig #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title 'Room Availability' %}
{% block main %}
<table class="datagrid">
    <thead>
        <tr>
            <td>ID</td>
            <td>Category</td>
            <td>Details</td>
            <td>Period update</td>
        </tr>
    </thead>
    <tbody>
        {% for category in roomCategoryList %}
        <tr>
            <td>{{category.id}}</td>
            <td>{{category.name}}</td>
            <td>
                <a href="{{ ea_url().setRoute('admin_roomAvailability_category', { categoryId: category.id }) }}">
                    View Details
                </a>
            </td>
            <td>
                <a href="{{ ea_url().setRoute('admin_roomAvailability_category_bulkupdate', { categoryId: category.id }) }}">
                    Update Period
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}